@import "./variable.styl";

body, html
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;

html
  font-size:20px;
@media only screen and (min-width:400px)
  html
    font-size:21.33px!important;
@media only screen and (min-width:414px)
  html
    font-size:22.08px!important;
@media only screen and (min-width:480px)
  html
    font-size:25.6px!important;
